<% content_for :content do %>
  <a href="<%= app_children_path %>">Children</a>
  <v-btn @click="increment" ></v-btn>
<% end %>


<% content_for :vueScript do %>
  <script>
    
  </script>
<% end %>

<%= render template: "layouts/templates/starter/manager.html.erb" %>