
<!-- Modal -->
<div id="modal-me-collecte" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-10">
            <p class="cliptext">  </p>
          </div>
          <div class="col-2 mt-2 text-right">
            <button type="nutton" class="btn btn-default btn-sm copy"><i class="far fa-clipboard"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>